.shimmer-circle {
  background: linear-gradient(120deg, #e5e7eb 40%, #f3f4f6 50%, #e5e7eb 60%);
  position: relative;
  overflow: hidden;
}
.shimmer-circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 9999px;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  animation: shimmer-move 1.2s infinite;
}
@keyframes shimmer-move {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@layer custom;
@import "tailwindcss";

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@theme {
  --font-fredericka: "Fredericka The Great", sans-serif;
  --font-cinzel: "Cinzel", sans-serif;
  --font-manrope: "Manrope", sans-serif;
  --font-baskerville: "Baskervville", sans-serif;
  --color-persian-orange: #d58b64;
  --color-ivory: #f9f9ed;
  --color-raisin-black: #2e282a;
  --color-purple: #7d82b8;
  --color-eng-orange: #ba1200;
  --animate-rotate: rotate 10s linear infinite;
}

@layer custom {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body,
  a,
  button,
  input,
  textarea {
    font-family: Poppins;
  }

  a,
  button {
    cursor: pointer;
  }

  .now-playing-chars {
    position: absolute;
    left: 50%;
    transform-origin: 0 125px;
    font-weight: bold;
  }
}
